/* [dir=rtl] body{ background: #eee;} */

/* hide template customizer setting for colors */
.template-customizer-open-btn{
    display: none !important;
}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/assets/img/logo.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
    animation: shake 2s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    50% {
        transform: translate(2px, -2px);
    }
    75% {
        transform: translate(-2px, 2px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.img_primary {
    filter: invert(26%) sepia(100%) saturate(4434%) hue-rotate(180deg) brightness(94%) contrast(90%);
}

.img_white{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(190deg) brightness(100%) contrast(100%);
}

.img_black{
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(100%) contrast(100%);
}

.img-info{
    /* #D3F1F0 */
    filter: invert(31%) sepia(86%) saturate(658%) hue-rotate(140deg) brightness(92%) contrast(97%);
}

.img_gray{
    /* #9A9A9A */
    filter: grayscale(100%) brightness(60%) contrast(80%);
}

[dir=rtl] .bg-menu-theme.menu-vertical .menu-item.active > .menu-link:not(.menu-toggle) {
    background: #E3F3FA !important;
    color: #0077B6 !important;
    box-shadow: none;
    font-weight: bold;
}

.avatar-fallback{
    background: #0077B6;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 45px;
    line-height: 58px;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #0077B6;
    background-color: #E3F3FA;
}

.select2-results__option[role=option][aria-selected=true]{background: #0077B6 !important;}
.select2-container--default .select2-results__option--highlighted:not([aria-selected=true]) {
    background-color: #dce6f447 !important;
    color: #0077B6 !important;
}

.card{
    border-color: #E1E5E8 !important;
    border-radius: 14px;
}

/* ==================== progress steps ==================== */
.progress-steps .step-container {
    position: relative;
    text-align: center;
    transform: translateY(-33%);
}

.progress-steps .step-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D4D9DC;
    border: 1px solid #D4D9DC;
    /* color: #444C53; */
    line-height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.progress-steps .step-circle.active {
    background-color: #fff;
    border-color: #0077b6;
    color: #0077b6;
}

.progress-steps .step-circle.complete {
    background-color: #0077b6;
    border-color: #0077b6;
    color: #fff;
}

.progress-steps .step-label.active{
    color: #0077b6;
    font-weight: bold;
}


/* ==================== drag and drop ==================== */
.dragable_media_box .upload_image_box {
    position: relative;
    border: 2px dashed #0077b6;
    display: inline-block;
    border-radius: 16px;
    transition: transform 0.3s;
    input[type="file"] {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        top: 0;
        left: 0;
    }
}
.dragable_media_box .draging {
    transform: scale(1.1);
}
.dragable_media_box #preview img{max-width: 100%}

.swal2-rtl .swal2-close{
    box-shadow: none !important;
}
