/* hide template customizer setting for colors */
.template-customizer-open-btn{
    display: none !important;
}

.text-dark{
    color: #1C1F22 !important;
}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/assets/img/logo.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
    animation: shake 2s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    50% {
        transform: translate(2px, -2px);
    }
    75% {
        transform: translate(-2px, 2px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.img_primary{
    filter: invert(31%) sepia(86%) saturate(658%) hue-rotate(190deg) brightness(92%) contrast(97%);
}
.img_white{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(190deg) brightness(100%) contrast(100%);
}

.img_black{
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(100%) contrast(100%);
}

.img-info{
    /* #D3F1F0 */
    filter: invert(31%) sepia(86%) saturate(658%) hue-rotate(140deg) brightness(92%) contrast(97%);
}

.img_gray{
    /* #9A9A9A */
    filter: grayscale(100%) brightness(60%) contrast(80%);
}

[dir=rtl] .bg-menu-theme.menu-vertical .menu-item.active > .menu-link:not(.menu-toggle) {
    background: #E3F3FA !important;
    color: #0077B6 !important;
    box-shadow: none;
    font-weight: bold;
}

.avatar-fallback{
    background: #0077B6;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 45px;
    line-height: 58px;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #0077B6;
    background-color: #E3F3FA;
}
