.navbar .language-toggle::after{
    display: none;
}
.auth-box {
    height: 80vh;
}
.logo-sec{
    background: linear-gradient(168.02deg, #3563AD -4.4%, #34B3AF 108.78%);
    overflow: hidden;
}
.logo-sec .bg-img{
    filter: brightness(0) invert(1);
    opacity: 20%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-en{direction: rtl;text-align: left;}
.body-en .dropdown-menu.lang{
    text-align-last: left;
    width: 100%;
}
.body-en input{
    text-align: left;
}

.body-ar{direction: ltr;text-align: right;}
.body-ar .dropdown-menu.lang{
    text-align-last: right;
    width: 100%;
}
.body-ar input{
    text-align: right;
}

.doctor-auth-form .input-group[dir="rtl"] span{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.doctor-auth-form .input-group:focus-within .input-group-text {
  border-color: #3563AD !important;
}

.otp-input {
    width: 55px;
    height: 55px;
    font-size: 22px;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
}


.success-img {
  opacity: 0;
  transform: scale(0.5);
  animation: popIn 0.5s ease forwards, bounce 0.5s 0.5s ease;
}

@keyframes popIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}

label.form-label{
    text-transform: capitalize;
}

@media (max-width: 992px) {
    .auth-box .auth-img .logo img{
        height: 150px;
    }
}

@media (max-width: 767px) {
    .auth-box {
        height: auto !important;
    }
    .auth-box-row {height: auto !important;}

    .auth-box .auth-form{
        order: 1;
    }
    .auth-box .auth-img{
        order: 0;
    }

    .doctor-auth-form{height: auto !important;}
    .auth-img .doctor-bg{
        width: 100%;
        height: auto !important;
    }
}
